* {
    border:0;
    margin:0;
    padding:0;
}

body {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16px;
    background-color: #333;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
    background: rgb(237,144,12);
    background: linear-gradient(90deg, rgba(237,144,12,1) 0%, rgba(223,79,198,1) 100%);
    flex-wrap: wrap;
}

.titulo {
    font-size: 2em;
    font-weight: bold;
}

.subTitulo {
    font-weight: 100;
    text-align: center;
}

main {
    max-width: 260px;
    margin: auto;
    background: rgb(237,144,12);
    background: linear-gradient(90deg, rgba(237,144,12,1) 0%, rgba(223,79,198,1) 100%);
    padding: 15px;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.inputNameUrl {
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    outline: none;
}

.btnInserir{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0px 25px;
    outline: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

ul > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3px;
}

ul > li > a {
    text-decoration: none;
    font-weight: bold;
    color: brown;
}

ul > li > a:hover {
    color: rgb(81, 10, 196);
}

.delBtn {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.delBtn:hover {
    background-color: rgb(230, 163, 163);
    color: red;
    border: 1px solid red;
    padding: 4px;
}

@media (min-width: 291px){
    main {
        border-radius: 10px;
    }
}